# Django Security
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
# Local SQLite is used by default

# Production Security
CSRF_TRUSTED_ORIGINS=https://your-domain.com
SECURE_SSL_REDIRECT=False

# Sentry Configuration
SENTRY_DSN=https://9f5071c01ff5a68a39df0dc6b7a993e1@o4511420874883072.ingest.de.sentry.io/4511421030137936
SENTRY_TRACES_SAMPLE_RATE=1.0
SENTRY_PROFILES_SAMPLE_RATE=1.0
